@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --size-50: 2px;
    --size-100: 4px;
    --size-150: 6px;
    --size-200: 8px;
    --size-250: 12px;
    --size-300: 16px;
    --size-400: 24px;
    --size-500: 32px;
    --size-600: 40px;
    --size-700: 48px;
    --size-800: 64px;
    --size-900: 72px;
    --size-1000: 80px;
    --size-1100: 96px;
    --size-1200: 128px;
  }

  *::-webkit-scrollbar {
    @apply h-[8px] w-[8px];
  }

  *::-webkit-scrollbar-track {
    @apply bg-white-200;
  }

  *::-webkit-scrollbar-thumb {
    @apply rounded-full bg-white-300;
  }
}

@layer components {
  /* #region - Sidenav */
  #quick-action-menu-wrapper {
    @apply max-h-[500px] w-[400px];
  }

  #sidenav-menu-wrapper {
    @apply max-h-[500px] w-[215px];
  }

  #sidenav-submenu-wrapper {
    @apply max-h-[500px] w-[215px];
  }

  #user-menu-wrapper {
    @apply !top-[-20px] max-h-[500px] w-[300px];
  }

  #sidenav-sub-submenu-wrapper {
    @apply hidden;
  }

  #quick-action-menu-wrapper,
  #sidenav-menu-wrapper,
  #sidenav-submenu-wrapper,
  #user-menu-wrapper {
    @apply background-color border-color-base overflow-y-auto overflow-x-hidden rounded-[12px] border border-solid drop-shadow-md;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply overflow-hidden rounded-none border-none bg-transparent shadow-none;

        .slide-fade-enter-active {
          @apply duration-300 ease-out;
        }

        .slide-fade-leave-active {
          transition: all 0.8s cubic-bezier(1, 0.5, 0.8, 1);
        }

        .slide-fade-enter-from,
        .slide-fade-leave-to {
          @apply translate-x-[-20px] opacity-0;
        }
      }

      .v-popper__arrow-container {
        @apply hidden;
      }
    }
  }

  /* #endregion - Sidenav */

  /* #region - Tooltips */
  #tooltip-wrapper {
    .v-popper__wrapper {
      .v-popper__inner {
        @apply background-color-inverted text-color-inverted-strong body-xs-regular rounded-border-radius-md px-2 py-1.5 font-main opacity-100;
      }

      .v-popper__arrow-outer {
        @apply hidden;
      }
    }
  }

  #sidenav-tooltip-wrapper {
    .v-popper__wrapper {
      .v-popper__inner {
        @apply label-xs background-color-inverted rounded-border-radius-md px-2 py-1.5 font-main opacity-100;
      }

      .v-popper__arrow-outer {
        @apply hidden;
      }
    }
  }
  /* #endregion - Tooltips */

  /* #region - Dropdown */
  #dropdown-wrapper {
    @apply overflow-hidden;

    .v-popper__wrapper {
      .v-popper__inner {
        @apply border-color-weak max-h-[300px] w-[240px] overflow-y-auto rounded-xl border border-solid p-2 font-main shadow-none;

        &::-webkit-scrollbar-track {
          @apply rounded-br-xl rounded-tr-xl;
        }
      }

      .v-popper__arrow-container {
        @apply hidden;
      }
    }
  }
  /* #endregion - Dropdown */
}

@layer utilities {
  .hidden-scrolls {
    &::-webkit-scrollbar {
      @apply hidden;
    }
  }

  /* #region - Headings */
  .heading-xl {
    @apply font-size-900 line-height-1000 letter-spacing-densest font-main font-medium;
  }

  .heading-lg {
    @apply font-size-800 line-height-900 letter-spacing-denser font-main font-medium;
  }

  .heading-md {
    @apply font-size-700 line-height-800 letter-spacing-denser font-main font-medium;
  }

  .heading-sm {
    @apply font-size-600 line-height-700 letter-spacing-dense font-main font-medium;
  }

  .heading-xs {
    @apply font-size-500 line-height-600 letter-spacing-dense font-main font-medium;
  }
  /* #endregion - Headings */

  /* #region - Subheadings */
  .subheading-sm {
    @apply font-size-400 line-height-500 letter-spacing-dense font-main font-medium;
  }

  .subheading-xs {
    @apply font-size-300 line-height-400 letter-spacing-normal font-main font-medium;
  }
  /* #endregion - Subheadings */

  /* #region - Paragraphs */
  .body-lg {
    @apply font-size-400 line-height-600 letter-spacing-normal font-main;
  }

  .body-lg-regular {
    @apply body-lg font-normal;
  }

  .body-lg-regular-underline {
    @apply body-lg font-normal decoration-solid;
  }

  .body-lg-regular-medium {
    @apply body-lg font-medium;
  }

  .body-lg-medium-underline {
    @apply body-lg font-medium decoration-solid;
  }

  .body-md {
    @apply font-size-300 line-height-500 letter-spacing-normal font-main;
  }

  .body-md-regular {
    @apply body-md font-normal;
  }

  .body-md-regular-underline {
    @apply body-md font-normal decoration-solid;
  }

  .body-md-regular-medium {
    @apply body-md font-medium;
  }

  .body-md-medium-underline {
    @apply body-md font-medium decoration-solid;
  }

  .body-sm {
    @apply font-size-200 line-height-400 letter-spacing-normal font-main;
  }

  .body-sm-regular {
    @apply body-sm font-normal;
  }

  .body-sm-regular-underline {
    @apply body-sm font-normal decoration-solid;
  }

  .body-sm-regular-medium {
    @apply body-sm font-medium;
  }

  .body-sm-medium-underline {
    @apply body-sm font-medium decoration-solid;
  }

  .body-xs {
    @apply font-size-100 line-height-300 letter-spacing-normal font-main;
  }

  .body-xs-regular {
    @apply body-xs font-normal;
  }

  .body-xs-regular-underline {
    @apply body-xs font-normal decoration-solid;
  }

  .body-xs-regular-medium {
    @apply body-xs font-medium;
  }

  .body-xs-medium-underline {
    @apply body-xs font-medium decoration-solid;
  }
  /* #endregion - Paragraphs */

  /* #region - Labels */
  .label-xs {
    @apply font-size-100 line-height-100 letter-spacing-wide font-main uppercase;
  }

  .label-xs-regular {
    @apply label-xs font-normal;
  }

  .label-xs-medium {
    @apply label-xs font-medium;
  }

  .label-sm {
    @apply font-size-200 line-height-200 letter-spacing-wide font-main uppercase;
  }

  .label-sm-regular {
    @apply label-sm font-normal;
  }

  .label-sm-medium {
    @apply label-sm font-medium;
  }

  /* #endregion - Labels */

  /* #region - Font Size */
  .font-size-100 {
    @apply text-100;
  }

  .font-size-200 {
    @apply text-200;
  }

  .font-size-300 {
    @apply text-300;
  }

  .font-size-400 {
    @apply text-400;
  }

  .font-size-500 {
    @apply text-500;
  }

  .font-size-600 {
    @apply text-600;
  }

  .font-size-700 {
    @apply text-700;
  }

  .font-size-800 {
    @apply text-800;
  }

  .font-size-900 {
    @apply text-900;
  }

  .font-size-1000 {
    @apply text-1000;
  }
  /* #endregion - Font Size */

  /* #region - Line Height */
  .line-height-none {
    @apply leading-none;
  }

  .line-height-100 {
    @apply leading-100;
  }

  .line-height-200 {
    @apply leading-200;
  }

  .line-height-300 {
    @apply leading-300;
  }

  .line-height-400 {
    @apply leading-400;
  }

  .line-height-500 {
    @apply leading-500;
  }

  .line-height-600 {
    @apply leading-600;
  }

  .line-height-700 {
    @apply leading-700;
  }

  .line-height-800 {
    @apply leading-800;
  }

  .line-height-900 {
    @apply leading-900;
  }

  .line-height-1000 {
    @apply leading-1000;
  }
  /* #endregion - Line Height */

  /* #region - Letter Spacing */
  .letter-spacing-none {
    @apply tracking-spacing-none;
  }

  .letter-spacing-densest {
    @apply tracking-spacing-densest;
  }

  .letter-spacing-denser {
    @apply tracking-spacing-denser;
  }

  .letter-spacing-dense {
    @apply tracking-spacing-dense;
  }

  .letter-spacing-normal {
    @apply tracking-spacing-normal;
  }

  .letter-spacing-wide {
    @apply tracking-spacing-wide;
  }

  .letter-spacing-wider {
    @apply tracking-spacing-wider;
  }

  .letter-spacing-widest {
    @apply tracking-spacing-widest;
  }

  /* #endregion - Letter Spacing */

  /* #region - Text Colors */
  .text-color-strong {
    @apply text-mushroom-950;
  }

  .text-color-supporting {
    @apply text-mushroom-400;
  }

  .text-color-base {
    @apply text-mushroom-600;
  }

  .text-color-weak {
    @apply text-mushroom-300;
  }

  .text-color-disabled {
    @apply text-white-300;
  }

  .text-color-on-fill-disabled {
    @apply text-white-400;
  }

  .text-color-inverted-strong {
    @apply text-white-50;
  }

  .text-color-inverted-base {
    @apply text-mushroom-200;
  }

  .text-color-inverted-weak {
    @apply text-mushroom-400;
  }

  .text-color-inverted-disabled {
    @apply text-white-600;
  }

  .text-color-brand-base {
    @apply text-kangkong-700;
  }

  .text-color-brand-hover {
    @apply text-kangkong-800;
  }

  .text-color-brand-pressed {
    @apply text-kangkong-900;
  }

  .text-color-success-base {
    @apply text-kangkong-700;
  }

  .text-color-success-hover {
    @apply text-kangkong-800;
  }

  .text-color-success-pressed {
    @apply text-kangkong-900;
  }

  .text-color-information-base {
    @apply text-blueberry-700;
  }

  .text-color-information-hover {
    @apply text-blueberry-800;
  }

  .text-color-information-pressed {
    @apply text-blueberry-900;
  }

  .text-color-danger-base {
    @apply text-tomato-600;
  }

  .text-color-danger-hover {
    @apply text-tomato-700;
  }

  .text-color-danger-pressed {
    @apply text-tomato-800;
  }

  .text-color-pending-base {
    @apply text-mango-700;
  }

  .text-color-pending-hover {
    @apply text-mango-800;
  }

  .text-color-pending-pressed {
    @apply text-mango-900;
  }

  .text-color-caution-base {
    @apply text-carrot-700;
  }

  .text-color-caution-hover {
    @apply text-carrot-800;
  }

  .text-color-caution-pressed {
    @apply text-carrot-900;
  }

  .text-color-accent-base {
    @apply text-wintermelon-700;
  }

  .text-color-accent-hover {
    @apply text-wintermelon-800;
  }

  .text-color-accent-pressed {
    @apply text-wintermelon-900;
  }
  /* #endregion - Text Colors */

  /* #region - Background Colors */
  .background-color {
    @apply bg-white-50;
  }

  .background-color-surface {
    @apply bg-white-100;
  }

  .background-color-inverted {
    @apply bg-mushroom-950;
  }

  .background-color-inverted-hover {
    @apply bg-mushroom-900;
  }

  .background-color-inverted-pressed {
    @apply bg-mushroom-800;
  }

  .background-color-base {
    @apply bg-mushroom-50;
  }

  .background-color-single-active {
    @apply bg-kangkong-100;
  }

  .background-color-multiple-active {
    @apply bg-kangkong-50;
  }

  .background-color-hover {
    @apply bg-mushroom-50;
  }

  .background-color-pressed {
    @apply bg-mushroom-100;
  }

  .background-color-disabled {
    @apply bg-white-100;
  }

  .background-color-brand-base {
    @apply bg-kangkong-700;
  }

  .background-color-brand-hover {
    @apply bg-kangkong-800;
  }

  .background-color-brand-pressed {
    @apply bg-kangkong-900;
  }

  .background-color-brand-weak {
    @apply bg-kangkong-100;
  }

  .background-color-success-base {
    @apply bg-kangkong-600;
  }

  .background-color-success-hover {
    @apply bg-kangkong-700;
  }

  .background-color-success-pressed {
    @apply bg-kangkong-800;
  }

  .background-color-success-weak {
    @apply bg-kangkong-100;
  }

  .background-color-information-base {
    @apply bg-blueberry-600;
  }

  .background-color-information-hover {
    @apply bg-blueberry-700;
  }

  .background-color-information-pressed {
    @apply bg-blueberry-800;
  }

  .background-color-information-weak {
    @apply bg-blueberry-100;
  }

  .background-color-pending-base {
    @apply bg-mango-500;
  }

  .background-color-pending-hover {
    @apply bg-mango-600;
  }

  .background-color-pending-pressed {
    @apply bg-mango-700;
  }

  .background-color-pending-weak {
    @apply bg-mango-100;
  }

  .background-color-caution-base {
    @apply bg-carrot-500;
  }

  .background-color-caution-hover {
    @apply bg-carrot-600;
  }

  .background-color-caution-pressed {
    @apply bg-carrot-700;
  }

  .background-color-caution-weak {
    @apply bg-carrot-100;
  }

  .background-color-accent-base {
    @apply bg-wintermelon-600;
  }

  .background-color-accent-hover {
    @apply bg-wintermelon-700;
  }

  .background-color-accent-pressed {
    @apply bg-wintermelon-800;
  }

  .background-color-accent-weak {
    @apply bg-wintermelon-100;
  }

  .background-color-danger-base {
    @apply bg-tomato-600;
  }

  .background-color-danger-hover {
    @apply bg-tomato-700;
  }

  .background-color-danger-pressed {
    @apply bg-tomato-800;
  }

  .background-color-danger-weak {
    @apply bg-tomato-100;
  }

  .switch-background-default {
    @apply bg-mushroom-200;
  }

  .switch-background-hover {
    @apply bg-mushroom-300;
  }

  .switch-background-pressed {
    @apply bg-mushroom-400;
  }
  /* #endregion - Background Colors */

  /* #region - Border Colors */
  .border-color-strong {
    @apply border-mushroom-500;
  }

  .border-color-supporting {
    @apply border-mushroom-400;
  }

  .border-color-base {
    @apply border-mushroom-300;
  }

  .border-color-hover {
    @apply border-mushroom-400;
  }

  .border-color-pressed {
    @apply border-mushroom-500;
  }

  .border-color-weak {
    @apply border-mushroom-200;
  }

  .border-color-disabled {
    @apply border-white-400;
  }

  .border-color-on-fill-disabled {
    @apply border-white-200;
  }

  .border-color-brand-base {
    @apply border-kangkong-700;
  }

  .border-color-brand-hover {
    @apply border-kangkong-800;
  }

  .border-color-brand-pressed {
    @apply border-kangkong-900;
  }

  .border-color-success-base {
    @apply border-kangkong-700;
  }

  .border-color-success-hover {
    @apply border-kangkong-800;
  }

  .border-color-success-pressed {
    @apply border-kangkong-900;
  }

  .border-color-information-base {
    @apply border-blueberry-700;
  }

  .border-color-information-hover {
    @apply border-blueberry-800;
  }

  .border-color-information-pressed {
    @apply border-blueberry-900;
  }

  .border-color-danger-base {
    @apply border-tomato-600;
  }

  .border-color-danger-hover {
    @apply border-tomato-700;
  }

  .border-color-danger-pressed {
    @apply border-tomato-800;
  }

  .border-color-pending-base {
    @apply border-mango-700;
  }

  .border-color-pending-hover {
    @apply border-mango-800;
  }

  .border-color-pending-pressed {
    @apply border-mango-900;
  }

  .border-color-caution-base {
    @apply border-carrot-700;
  }

  .border-color-caution-hover {
    @apply border-carrot-800;
  }

  .border-color-caution-pressed {
    @apply border-carrot-900;
  }

  .border-color-accent-base {
    @apply border-wintermelon-700;
  }

  .border-color-accent-hover {
    @apply border-wintermelon-800;
  }

  .border-color-accent-pressed {
    @apply border-wintermelon-900;
  }
  /* #endregion - Border Colors */

  /* #region - Box Shadows */
  .drop-shadow-sm {
    @apply shadow-drop-sm;
  }

  .drop-shadow {
    @apply shadow-drop;
  }

  .drop-shadow-md {
    @apply shadow-drop-md;
  }

  .drop-shadow-top-sm {
    @apply shadow-drop-top-sm;
  }

  .drop-shadow-top {
    @apply shadow-drop-top;
  }

  .drop-shadow-top-md {
    @apply shadow-drop-top-md;
  }
  /* #endregion - Box Shadows */
}
